* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


html,
body {
  height: 100%;
  overflow: auto;
  background-color: black;
}

.nav-item:hover {
  font-weight: bold;
  border: solid 1px black;
  background-color: #396A45;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.nav-bar {
  position: sticky;
  top: 0;
  background-color: #5AA56D;
}

.nav-menu {
  display: flex;
  background-color: #355E3B;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 5%;
  align-items: center;
}


.nav-item {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  padding: 20px;
  font-size: 24px;
}

.nav-item:link,
.nav-item:visited,
.nav-item:active {
  color: black;
}


.material-icons {
  vertical-align: middle;
  margin-right: 8px;
  font-size: 24px;
}


.taxi-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 5%;
  margin-bottom: 8%;
}




.feature-headline-container h2 {
  color: white;
  font-size: 34px;
  font-size: 34px;
}

.feature-headline-container{
  margin-bottom: 10%;
  margin-left: 5%;
}

.taxi-text-container h3 {
  color: white;
  border-bottom: white 1px solid;
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 34px;
}


.taxi-text-container p{
  color: white;
  font-size: 20px;
}


.taxi-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.next-button,
.prev-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  border: none;
  background-color: #5AA56D;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.taxi-image {
  width: 50%;
  height: auto;
  object-fit:cover;
  border-radius: 50%;
}


.footer-description {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin-bottom: 5%;
}


.book-button{
  background-color: #396A45;
  border: none;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  font-size: 20px;
  border-radius: 4%;
  margin-top: 4%;
  cursor: pointer;
  font-weight: bold;
}