* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,body {
  height: 100%;
  overflow: auto;
  background-image: url("../Utilities/home/taxi_bilder.jpg");
}


.nav-item:hover {
  font-weight: bold;
  border: solid 1px black;
  background-color: #396A45;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.nav-bar {
  position: sticky;
  top: 0;
  background-color: #5AA56D;
}

.nav-menu {
  display: flex;
  background-color: #355E3B;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 5%;
  align-items: center;
}


.nav-item {
  display: flex;
  align-items: center;
  font-size: 24px;
  padding: 20px;
}


.service-headline{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.service-headline > h1 {
  font-size: 40px;
  margin-bottom: 2%;
}

.service-headline > p{
  font-size: 18px;
}


.service-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 3%;
  gap: 1%;
}


.airport-service-text, .city-tour-service-text{
  color: white;
  font-size: 20px;
}

.airport-service-text > h1, 
.city-tour-service-text > h1 {
  margin-bottom: 5%;
}


.service-button-container{
  display: flex;
  justify-content: center;
  align-items:baseline;
}


.airport-service{
  background-image: url("../Utilities/services/airport-service.webp");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


.airport-service-text h1,
.airport-service-text p, 
.city-tour-service-text h1, 
.city-tour-service-text p,
.business-service-text h1,
.business-service-text p{
  color: whitesmoke;
  margin-left: 2%;
}




.airport-service-text, .city-tour-service-text, .business-service-text{
  width: 100%;
  height: 100%;
  margin-bottom: 10%;
  background: rgba(0, 0, 0, 0.6);
}


.button {
  background-color: #396A45;
  border: none;
  padding: 2% 3%;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 9%;
  cursor: pointer;
  font-weight: bold;
}



.city-tour-service{
  background-image: url("../Utilities/services/city-tour.webp");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
}



.business-service{
  background-image: url("../Utilities/services/businessman_service.webp");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  margin-top: 5%;
}


.footer-description {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 2%;
}






